.game-container {
  max-width: 1000px;
  margin: 0 auto;
}

.memory-cards {
  column-count: 4;
  margin: 0;
  padding: 0;
}

.current-stats-container {
  margin-top: 5px;
  margin-bottom: 5px;

}

.attempts,
.best-score {
  display: inline-block;
  border: 2px solid #C0DCEF;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-right: 10px;
  background-color: #33acff;
  color: white;
}

.timer {
  font-weight: bold;
}